.event__list {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: flex-start;
}
.list {
  display: flex;

  flex-wrap: wrap;  
  list-style-type: none;
  margin: 0;
  align-items: flex-start;
  width: 100%;
  padding: 0;
}
.list__name {
    display: flex;
    justify-content: space-between;
    flex: 0 1 30%;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-radius: 1rem;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
}
.show__saved{
    background-color: #FFB703;
    color: black;
    font-size: 1.3rem;
    padding: .5rem 1rem;
    font-family: inherit;
    border-radius: 1rem;
    cursor: pointer;
}
