.navbar{
    background-color: #FFB703;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav_logo{
    width: 12rem;
    height: 12rem;
}
.navbar__list{
    margin: 0;
    padding:2rem 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
}
.navbar__list--item{
    font-size: 1.4rem;
    margin-right: 2rem;
    cursor: pointer;
    position: relative;
}
.navbar__list--item::after{
    display: block;
    width: 0;
    height: .5rem;
    content: '';
    transition: all .3s;
    position: absolute;
    left: 0;
    bottom: 0;

}
.navbar__list--item:hover::after{
 width: 100%;
}