
  .wrapper {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 5rem;
  }
  
  
  
  .button{
  display:inline-block;
  background: #023047;
  color:#fff;
  padding: 16px 30px;
  margin:30px 0;
  border-radius:30px;
  font-size: 1.5rem;
  }
  
  .button:hover{
    background: #fff;
    color: #023047;
  }
  
  .canvas{
    background: (#87abe3);
  }
  
  .canvas .home{
    margin-top: 70px;
  }
  
  .mappopup {
    background-color: #fff;
    color:black;
    font-size: 3rem;
    text-align:center;
    border-radius: 20px;
    padding: 1rem 7rem;
  }

  .closeButton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .mappopup .close {

    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }

  .info{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    line-height: 2;
  }

  .Description{
    display: flex;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
  }

  .register{
  display:inline-block;
  background: #023047;
  color:#fff;
  padding: 16px 30px;
  margin:30px 0;
  border-radius:30px;
  font-size: 1.5rem;
  }
  
  .register:hover{
    background: #8ECAE6;
    color: #023047;
  }